html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#description {
	position: relative;
}

#pixels{
	width: 100%;
	height: 100%;
	position: absolute;
}

.pixel {
	background-color: #3CB371;
	float: left;
	/* border: .1px dashed lightgrey; */
}

#title {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	margin-top: .75rem;
	margin-left: 1rem;
	font-family: "Fira Sans", sans-serif;
	color: black;
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
}